---
Language: Cpp
BasedOnStyle: WebKit
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: 100
IncludeCategories:
  - Regex: '^<ext/.*\.h>'
    Priority: 2
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IndentWidth: 4
TabWidth: 4
LineEnding: LF
SpaceBeforeCpp11BracedList: false
SpaceInEmptyBlock: false
UseTab: AlignWithSpaces

---
Language: Json
IndentWidth: 4
TabWidth: 4
LineEnding: LF
UseTab: AlignWithSpaces
