---
Language: Cpp
BasedOnStyle: WebKit
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentWidth: 4
SpaceBeforeCpp11BracedList: false
SpaceInEmptyBlock: false
TabWidth: 4
UseTab: AlignWithSpaces
