# Only put project-specific paths in here.
# If you have OS-specific or editor-specific paths to ignore, such as '*.swp',
# '[Dd]esktop.ini', '.DS_Store', or '.vscode', put those in your global
# .gitignore file or in /path/to/repository/.git/info/exclude. Thanks!
build
out
.zig-cache
zig-out
